@import url("https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/css/fonts/google-sans.css");
@import url('https://abbie.github.io/discord-css/import.css');

:root {
  --font-primary: Google Sans;
  --font-display: var(--font-primary);
  
    --\\--compact-title-bar: false;
    --\\--compact-input-box: true;
    --\\--compact-context-menu: true;
    --\\--compact-user-area: false;
    --\\--compact-channel-categories: false;
    --\\--compact-server-list: true;

    --\\--hide-nameplates: false;
    --\\--hide-guild-tags: false;
    --\\--hide-profile-effects: false;
    --\\--hide-avatar-decorations: false;
    --\\--hide-gradient-glow-usernames: false;
    --\\--hide-server-boost-goal: false;
    --\\--hide-server-activity: true;
    --\\--hide-user-activity: false;
    --\\--hide-context-menu-quick-reactions: true;
    --\\--hide-hover-quick-reactions: false;
    --\\--hide-image-edit-button: true;
    --\\--hide-gif-button: false;
    --\\--hide-sticker-button: false;
    --\\--hide-emoji-button: false;
    --\\--hide-apps-button: true;
    --\\--hide-gift-button: false;
    --\\--hide-help-button: true;
    --\\--hide-shop-button: false;
    --\\--hide-nitro-button: false;
    --\\--hide-active-now: false;
    --\\--hide-nitro-upsells: false;
    --\\--hide-vencord-desktop-platform-indicator: true;
    --\\--hide-cluttery-badges: false;

    --\\--darker-scrollbar: true;
    --\\--darker-hovered-message: true;
    --\\--prevent-sidebar-resizing: false;
    --\\--fix-minor-icon-misalignments: true;
}
:root {
    --font-primary: Google Sans;
    --font-display: var(--font-primary)
}


.scrollerInner__36d07 {
    margin-bottom: 12px;
}

/* change attachment button svg back */
.attachButton__0923f path {
    d: path("M12 23a11 11 0 1 0 0-22 11 11 0 0 0 0 22Zm0-17a1 1 0 0 1 1 1v4h4a1 1 0 1 1 0 2h-4v4a1 1 0 1 1-2 0v-4H7a1 1 0 1 1 0-2h4V7a1 1 0 0 1 1-1Z");
}


:root {
    --base00: #0e0c0e;
    --base01: #0d0b0e;
    --base02: #18131A;
    --base03: #E792C1;
    --base04: #ffbaf2;
    --base05: #FBFBFB;
    --base06: #dedef4;
    --base07: #71799b;
    --base08: #eb6f92;
    --base09: #f6c177;
    --base0A: #ebbcba;
    --base0B: #a0768d;
    --base0C: #9ccfd8;
    --base0D: #E792C1;
    --base0E: #f6c177;
    --base0F: #E792C1;
}

.theme-light,
.theme-dark,
.theme-darker,
.theme-midnight,
.visual-refresh {
    --activity-card-background: var(--base01) !important;
    --background-accent: var(--base03) !important;
    --background-floating: var(--base02) !important;
    --background-mentioned-hover: var(--base02) !important;
    --background-mentioned: var(--base01) !important;
    --background-message-highlight: var(--base01) !important;
    --background-message-hover: var(--base00) !important;
    --background-modifier-accent: var(--base02) !important;
    --background-modifier-active: var(--base02) !important;
    --background-modifier-hover: var(--base00) !important;
    --background-modifier-selected: var(--base01) !important;
    --background-primary: var(--base00) !important;
    --background-secondary-alt: var(--base01) !important;
    --background-secondary: var(--base00) !important;
    --background-surface-highest: var(--base02) !important;
    --background-surface-higher: var(--base02) !important;
    --background-surface-high: var(--base02) !important;
    --background-tertiary: var(--base00) !important;
    --background-base-low: var(--base01) !important;
    --background-base-lower: var(--base00) !important;
    --background-base-lowest: var(--base00) !important;
    --background-base-tertiary: var(--base00) !important;
    --background-code: var(--base02) !important;
    --background-mod-subtle: var(--base02) !important;
    --bg-base-secondary: var(--base00) !important;
    --bg-base-tertiary: var(--base00) !important;
    --bg-brand: var(--base03) !important;
    --bg-mod-faint: var(--base01) !important;
    --bg-overlay-2: var(--base01) !important;
    --bg-overlay-3: var(--base01) !important;
    --bg-overlay-color-inverse: var(--base03) !important;
    --bg-surface-raised: var(--base02) !important;
    --bg-surface-overlay: var(--base00) !important;
    --black: var(--base00) !important;
    --blurple-50: var(--base0B) !important;
    --border-faint: var(--base02) !important;
    --brand-05a: var(--base01) !important;
    --brand-10a: var(--base01) !important;
    --brand-15a: var(--base01) !important;
    --brand-260: var(--base0D) !important;
    --brand-360: var(--base0D) !important;
    --brand-500: var(--base0F) !important;
    --brand-560: var(--base01) !important;
    --button-danger-background: var(--base08) !important;
    --button-danger-background-disabled: var(--base03) !important;
    --button-filled-brand-background: var(--base0D) !important;
    --button-filled-brand-background-hover: var(--base03) !important;
    --button-filled-brand-text: var(--base00) !important;
    --button-filled-brand-text-hover: var(--base05) !important;
    --button-outline-positive-border: var(--base0B) !important;
    --button-outline-danger-background-hover: var(--base08) !important;
    --button-outline-danger-border-hover: var(--base08) !important;
    --button-positive-background: var(--base0B) !important;
    --button-positive-background-disabled: var(--base03) !important;
    --button-positive-background-hover: var(--base03) !important;
    --button-secondary-background: var(--base02) !important;
    --button-secondary-background-disabled: var(--base03) !important;
    --button-secondary-background-hover: var(--base03) !important;
    --button-secondary-text: var(--base05) !important;
    --card-primary-bg: var(--base02) !important;
    --channel-icon: var(--base04) !important;
    --channels-default: var(--base04) !important;
    --channel-text-area-placeholder: var(--base03) !important;
    --channeltextarea-background: var(--base01) !important;
    --chat-background-default: var(--base02) !important;
    --checkbox-background-checked: var(--base0D) !important;
    --checkbox-border-checked: var(--base0D) !important;
    --checkbox-background-default: var(--base02) !important;
    --checkbox-border-default: var(--base03) !important;
    --control-brand-foreground-new: var(--base0D) !important;
    --control-brand-foreground: var(--base04) !important;
    --custom-notice-text: var(--base01) !important;
    --custom-poll-style-vote-percentage: var(--base04) !important;
    --deprecated-text-input-bg: var(--base01) !important;
    --deprecated-text-input-border: var(--base02) !important;
    --green-330: var(--base0B) !important;
    --green-360: var(--base0B) !important;
    --green-300: var(--base0B) !important;
    --header-primary: var(--base04) !important;
    --header-secondary: var(--base04) !important;
    --home-background: var(--base00) !important;
    --info-warning-foreground: var(--base0A) !important;
    --input-background: var(--base02) !important;
    --interactive-active: var(--base05) !important;
    --interactive-hover: var(--base05) !important;
    --interactive-muted: var(--base03) !important;
    --interactive-normal: var(--base05) !important;
    --mention-background: var(--base02) !important;
    --mention-foreground: var(--base04) !important;
    --menu-item-danger-active-bg: var(--base08) !important;
    --menu-item-danger-hover-bg: var(--base08) !important;
    --menu-item-default-hover-bg: var(--base03) !important;
    --message-reacted-background: var(--base02) !important;
    --message-reacted-text: var(--base05) !important;
    --modal-background: var(--base01) !important;
    --modal-footer-background: var(--base00) !important;
    --notice-background-positive: var(--base0B) !important;
    --notice-text-positive: var(--base01) !important;
    --opacity-blurple-24: var(--base02) !important;
    --plum-23: var(--base02) !important;
    --polls-victor-fill: var(--base0B) !important;
    --profile-gradient-button-color: var(--base02) !important;
    --primary-130: var(--base05) !important;
    --primary-300: var(--base05) !important;
    --primary-500: var(--base02) !important;
    --primary-600: var(--base00) !important;
    --primary-630: var(--base01) !important;
    --primary-660: var(--base00) !important;
    --primary-800: var(--base00) !important;
    --red-400: var(--base08) !important;
    --red-460: var(--base08) !important;
    --red-500: var(--base08) !important;
    --red-630: var(--base08) !important;
    --red: var(--base08) !important;
    --scrollbar-auto-thumb: var(--base00) !important;
    --scrollbar-auto-track: transparent;
    --scrollbar-thin-thumb: var(--base00) !important;
    --scrollbar-thin-track: transparent;
    --search-popout-option-fade: none;
    --search-popout-option-non-text-color: var(--base07) !important;
    --status-danger-background: var(--base08) !important;
    --status-danger: var(--base08) !important;
    --status-negative: var(--base08) !important;
    --status-positive-background: var(--base0B) !important;
    --status-positive-text: var(--base0B) !important;
    --status-positive: var(--base0B) !important;
    --status-success: var(--base0B) !important;
    --status-warning-background: var(--base03) !important;
    --status-warning: var(--base09) !important;
    --teal-430: var(--base0C) !important;
    --text-brand: var(--base06) !important;
    --text-feedback-positive: var(--base0B) !important;
    --text-feedback-negative: var(--base08) !important;
    --text-feedback-warning: var(--base09) !important;
    --text-feedback-success: var(--base0B) !important;
    --text-link: var(--base04) !important;
    --text-muted: var(--base03) !important;
    --text-negative: var(--base08) !important;
    --text-normal: var(--base05) !important;
    --text-positive: var(--base0B) !important;
    --text-primary: var(--base05) !important;
    --text-secondary: var(--base04) !important;
    --text-tertiary: var(--base03) !important;
    --text-warning: var(--base09) !important;
    --textbox-markdown-syntax: var(--base05) !important;
    --theme-base-color: var(--base00) !important;
    --user-profile-overlay-background: var(--base01) !important;
    --white-100: var(--base05) !important;
    --white-200: var(--base05) !important;
    --white-500: var(--base05) !important;
    --white: var(--base05) !important;
    --yellow-360: var(--base0A) !important;
    --yellow-300: var(--base0A) !important;
    --__lottieIconColor: var(--base03) !important;
}

/*--- Selected Text Recolor ---*/
::selection {
    color: var(--base00);
    background: var(--base03);
}

/*--- Default Folder Color Recolor ---*/
.default__459fb {
    background-color: var(--base07) !important;
}

/*--- Discord Icon (Top Right) Recolor ---*/
.childWrapper__6e9f8 {
    background-color: var(--base02) !important;
}

/*--- Close Icon Path Recolor ---*/
svg[class^="closeIcon__"] path {
    fill: var(--base04) !important;
}

/*--- Listen Along Invite Recolor ---*/
.invite__4d3fa {
    background: var(--base01) !important;
    border-color: var(--base02) !important;
}

/*--- Activity Card Background Recolor ---*/
.card__73069 {
    background-color: var(--base01);
}

div[class^="bar__"] {
    background-color: var(--base01) !important;
    border-color: var(--base02) !important;
}
/*--- Voice Bar Text Recolor ---*/
.barText__7aaec {
    color: var(--base0B) !important;
}
.unreadIcon__7aaec {
    color: var(--base0B) !important;
}

/*--- Mentions Bar Text Recolor ---*/
.mentionsBar__7aaec .barText__7aaec {
    color: var(--base05) !important;
}

/*--- Forum Background Recolor ---*/
.container_f369db {
    background-color: var(--bg-overlay-2);
}

/*--- Sidebar Icon Recolor ---*/
.circleIconButton__5bc7e {
    color: var(--base04);
}

/*--- Summaries Tag Icon Recolor ---*/
.summariesBetaTag_cf58b5 {
    color: var(--base03);
}

/*--- Folder Icon Recolor ---*/
div.folderIconWrapper__48112 {
    background-color: var(--base01) !important;
}

/*--- Voice Chat Action Icon Recolor ---*/
path[fill^="rgb(88,101,242)"],
path[stroke^="rgb(88,101,242)"] {
    fill: var(--base05) !important;
    stroke: var(--base05) !important;
}
.lottieIcon__5eb9b.lottieIconColors__5eb9b.buttonIcon_e131a9 {
    --__lottieIconColor: var(--base05) !important;
}
div[class^="actionButtons"] [class^="button"][class*="buttonColor_"],
div[class^="actionButtons"] [class^="button"] [class*="buttonColor_"] {
    background-color: var(--base02);
}

.spineBorder__5b40b { 
    background: var(--base05); 
}

/* --- Checkbox Recolor (OFF) --- */
.container__87bf1 {
    background-color: var(--base03) !important;
}
/* --- Checkbox Recolor (ON) --- */
.checked__87bf1 {
    background-color: var(--base0B) !important;
}
path[fill^="var(--brand-500)"] {
    fill: var(--base0B) !important;
}

/* --- Secure Lock Icon Recolor --- */
.lockIcon__2666b {
    display: none;
}

/*--- Status Icon Recolor (DO NOT DISTURB) ---*/
svg[fill^="#f23f43"],
rect[fill^="#f23f43"] {
    fill: var(--status-danger) !important;
}
/*--- Status Icon Recolor (IDLE) ---*/
svg[fill^="#f0b232"],
rect[fill^="#f0b232"] {
    fill: var(--status-warning) !important;
}
/*--- Status Icon Recolor (ONLINE) ---*/
path[fill^="#23a55a"],
svg[fill^="#23a55a"],
rect[fill^="#23a55a"] {
    fill: var(--status-positive) !important;
}
/*--- Status Icon Recolor (OFFLINE) ---*/
svg[fill^="#80848e"],
rect[fill^="#80848e"] {
    fill: var(--base03) !important;
}

/*--- Default Color Swap ---*/
path[fill^="currentColor"],
svg[fill^="currentColor"],
rect[fill^="currentColor"] {
    fill: var(--base05) !important;
}

/*--- Voice Chat Icon Badge Recolor ---*/
div[class^="iconBadge"] path[d^="M12 3a1 1 0 0 0-1-1h-.06"],
div[class^="iconBadge"] path[d^="M15.16 16.51c-.57.28"] {
    fill: var(--base05) !important;
}

/*--- Nitro Icon Recolor ---*/
.premiumLabel_e681d1 svg path,
svg.guildBoostBadge__5dba5 path {
    fill: var(--base0E) !important;
}

/*--- Server Booster Icon Recolor ---*/
.premiumIcon__5d473 {
    color: var(--base0F);
}

/*--- Call Container Recolor ---*/
.callContainer_cb9592 {
    background-color: var(--base00);
}
.gradientContainer_bfe55a {
    background-image: var(--base00);
}

/*--- Store Gradient Recolors ---*/
.gradient_e9ef78 {
    background: var(--base01) !important;
}
.bannerGradient__955a3 {
    background: var(--base00) !important;
}

/*--- Increase Text Legibility ---*/
* {
    text-rendering: optimizeLegibility !important;
}

/*--- Codeblock Syntax Highlighting Recolor ---*/

.hljs-ansi-foreground-red {
    color: var(--base08) !important;
}
.hljs-ansi-foreground-green {
    color: var(--base0B) !important;
}
.hljs-ansi-foreground-yellow {
    color: var(--base0A) !important;
}
.hljs-ansi-foreground-blue {
    color: var(--base0D) !important;
}
.hljs-ansi-foreground-magenta {
    color: var(--base0E) !important;
}
.hljs-attr {
    color: var(--base06) !important;
}
.hljs-attribute {
    color: var(--base06) !important;
}
.hljs-number {
    color: var(--base06) !important;
}
.hljs-selector-class {
    color: var(--base06) !important;
}
.hljs-comment {
    color: var(--base03) !important;
}
.hljs-subst {
    color: var(--base0D) !important;
}
.hljs-selector-pseudo {
    color: var(--base0B) !important;
}
.hljs-section {
    color: var(--base0B) !important;
}
.hljs-keyword {
    color: var(--base08) !important;
}
.hljs-variable {
    color: var(--base08) !important;
}
.hljs-meta {
    color: var(--base03) !important;
}
.hljs-built_in {
    color: var(--base09) !important;
}
.hljs-string {
    color: var(--base0B) !important;
}
.hljs-title {
    color: var(--base0E) !important;
}

/*--- Visual Refresh Recolor ---*/
/*--- BIG WORK IN PROGRESS. DISCORD MADE SOME BIG CHANGES. ---*/
.visual-refresh {
    div[class^="autocomplete__"] {
        background-color: var(--base02) !important;
    }
    path[fill^="rgba(88, 101, 242, 1)"] {
        fill: var(--base0B) !important;
    }
    div[class^="topicsPillContainer"] {
        --bg-overlay-2: var(--base02) !important;
    }
    .tagPill__9a337 {
        background-color: var(--base00) !important;
    }
    .bg__960e4 {
        background: var(--base00) !important;
    }
    .header_f37cb1 {
        background-color: var(--base01) !important;
    }
    .wrapper_ef3116 {
        background-color: var(--base00) !important;
    }
    .sidebar_c48ade {
        background-color: var(--base00) !important;
    }
    .searchBar__97492 {
        background-color: var(--base02) !important;
    }
    .channelTextArea_f75fb0 {
        background: var(--base02) !important;
    }
 .chatContent_f75fb0 {
        background-image: url(https://raw.githubusercontent.com/ctbug/RosieDesktop/refs/heads/main/rosiedark.jpg);
        background-size: cover;
 }
    .members_c8ffbb,
    .member_c8ffbb {
        background: var(--base00) !important;
    }
    .voiceBar__7aaec {
        background-color: var(--base02) !important;
    }
    button.button__67645.redGlow__67645,
    span.button__67645.redGlow__67645 {
        background-color: var(--base02) !important;
    }

    .experimentButton_e131a9.buttonColor_e131a9.buttonActive_e131a9 {
        background-color: var(--base0B) !important;
        color: var(--base00) !important;
    }

    .selectedBackground_e681d1 {
        background-color: var(--base02) !important;
    }

}

.theme-darker {
    --background-secondary-alt: color-mix(in oklab,var(--neutral-82) 100%, var(--theme-base-color,#000) var(--theme-base-color-amount, 0%));
    --bg-surface-overlay: color-mix(in oklab, var(--primary-800) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
}

.theme-midnight {
    --background-secondary-alt: color-mix(in oklab, var(--neutral-95) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
    --bg-surface-overlay: color-mix(in oklab, var(--primary-800) 100%, var(--theme-base-color, #000) var(--theme-base-color-amount, 0%));
}

#vc-spotify-player {
    --blur-amount: 4px; 
    --normal-bg-colour: var(--bg-overlay-floating, var(--background-base-low, var(--background-secondary-alt)));

    position: relative;
    background: linear-gradient(to bottom, transparent 0%, var(--normal-bg-colour) 100%) !important;
    overflow: hidden;
    transition: all 0.4s ease-out;
    > * {
      filter: drop-shadow(0 0 10px var(--normal-bg-colour));
    }
}
#vc-spotify-player:hover {
    --blur-amount: 0px;
}
#vc-spotify-player::before,
#vc-spotify-player::after {
    z-index: -1;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 0.4s ease-out;
}
#vc-spotify-player::before {
    background: var(--vc-spotify-track-image);
    background-position: center top; 
    background-size: cover; 
    opacity: 0.5;
}
#vc-spotify-player:hover::before {
    opacity: 0.7;
}
#vc-spotify-player::after {
    backdrop-filter: blur(var(--blur-amount));
}
#vc-spotify-progress-bar > [class^="slider_"] > [class^="bar_"] > [class^="barFill_"] {
    background-color: white !important;
    background: var(--vc-spotify-track-image);
    background-size: 1px 100%;
}
#vc-spotify-progress-bar > [class^="slider_"] > [class^="bar_"] > [class^="barFill_"]::before {
    content: "";
    position: fixed;
    height: inherit;
    width: inherit;
    top: inherit;
    left: inherit;
    border-radius: 4px 0 0 4px;
    backdrop-filter: blur(10px) saturate(4) brightness(1.6);
}

/* reduce context menu padding */
.scroller_c1e9c4{
    margin: -4px;
    &::after,.separator_c1e9c4 {
        margin: 1px 8px !important;
    }
    &::after,.wrapper_f563df {
        padding: 2px !important;
    }
}

.typingDots_b88801 > .ellipsis_b88801+.text_b88801 {
  font-size: 0;
  height: 16px;
  >strong {
    font-size: 12px;
    &::after {
      color: var(--text-secondary);
      font-weight: 500;
    }
    &:last-child::after {
      content: " is yapping...";
    }
    &:last-child:not(:first-child)::after {
      content: " are yapping...";
    }
    &:nth-last-child(2)::after {
      content: " and "
    }
    &:nth-last-child(3)::after {
      content: ", ";
    }
  }
  &:not(:has(>strong))::after {
    font-size: 12px;
    content: "Several people are yapping...";
  }
}

.children__9293f::after {
  background: linear-gradient(to right, transparent 0, var(--bg-base-tertiary) 100%)!important;
}
.topic__6ec1a {
  flex: none;
}

.isUnread__908e2, .custom-theme-background .isUnread__908e2 {
border-color: #E792C1 !important;
}

.unreadPill__908e2 {
    background-color: #E792C1;
    border-left: 3px solid #E792C1;
    border-radius: 8px;
}

.unreadPillCap__908e2 {
display: none;
}
